.grid-container{
   display: grid;
   grid-template-columns: repeat(3, 3fr);
   grid-gap: 1em 2em;
}
.card-content .title{
   font-family: 'Roboto';
   font-weight: bold;
   font-size:20px;
   
}
.card-content{
   margin-top:-30px;
  
}
.main {
   background-image: url("../../Assets/bg-texture.png");
}
.row{
   margin-bottom:30px;
}
.card:hover {
   box-shadow: 0 4px 8px 0 #1d1b1b;
 }
@media (max-width: 600px ){
   #mobcard{
      
padding-left:80px;

   }
}