
.title {
   margin-top: 20px;
   padding-top: 20px;
}
#team-page {
   margin-top: 10px;
   margin-bottom: 50px;
}
.card-title {
   background: rgb(255,255,255);
   background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7231267507002801) 71%);
   width:100%;
   height:20%;
}
.message {
   margin-left: 1em;
   margin-right: 1em;
   padding-top: 10%;
}
.grid-container{
   display: grid;
   grid-template-columns: repeat(3, 3fr);
   grid-gap: 1em 2em;
}

.card {
   max-width: 20em;
}

@media (max-width: 600px ){
   .grid-container{
      grid-template-columns: 18em;
      justify-content: center;
   }
}