
.container .title {
   margin-top: 20px;
   padding-top: 20px;
   font-size:50px;
}
#team-page {
   margin-top: 10px;
   margin-bottom: 50px;
}
.card-title {
   background: rgb(255,255,255);
   background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7231267507002801) 71%);
   width:100%;
   height:20%;
   padding-bottom:20px;
}
.card-content{
   font-size:20px;
   margin-top:50%;
}
.message {
   margin-left: 1em;
   margin-right: 1em;
   padding-top: 10%;
}
/* #executive-members-list{
   display: grid;
   grid-template-columns: auto auto auto;
   grid-gap: 1em 2em;
} */

.card {
   max-width: 20em;
}
.card-content{
   min-height: 7em;
}
.designation{
   padding-top:20px;
}
@media (max-width: 600px ){
   /* .grid-container{
      grid-template-columns: 18em;
      justify-content: center;
   } */
}