.filter-buttons{
    display: flex;
    margin : 1rem 0rem;
}

.filter-buttons button {
    margin : 0rem 0rem 0rem 1rem;
    color: white;
    background-color: rgb(170, 33, 33);
    border: antiquewhite solid .5px;
    border-radius: 1rem;
    text-align: center;
    font-weight: 600;
    height: 2.5rem;
    width: 6rem;
}