@media screen and (min-width: 993px) {
    #red_blog {
        position: absolute !important;
        top: 2%;
        right: 2.5%;
        background-color: #bf2200;
        outline: none;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 55px;
        width: 160px;
    }
}
@media screen and (max-width: 992px) {
    #red_blog {
        display: none;
    }
}
@media screen and (max-width: 992px) {
    #mob_blog {
        position: absolute !important;
        top: 0.7%;
        right: 2.5%;
        background-color: #bf2200;
        outline: none;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 45px;
        width: 120px;
        z-index: 999;
    }
}

@media screen and (min-width: 993px) {
    #mob_blog {
        display: none;
    }
}
