.popup {  
    position: fixed;  
    width: 100vw;  
    height: 100vh;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
  }  
  .popup_inner {  
    position: absolute;  
    left: 5%;  
    right: 5%;  
    top: 15%;  
    bottom: 5%;  
    margin: auto;  
    border-radius: 20px;  
    background: white;  
    overflow:auto;
    padding:40px;
  }

.card_height{
  height:350px;
  min-width:15vw;
}

.more_height{
  height:350px;
  min-width:15vw;
}

.gallery_height{
  height:300px;
  min-width:20vw;
}


@media only screen and (max-width: 600px) {
  .card_height{
    height:90vw;
    min-width:80vw;
  }
  .gallery_height{
    height:80vw;
    min-width:80vw;
  }
  .more_height{
    height:80vw;
    min-width:80vw;
  }
}