body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    /* color:#C33427; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.announcements {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.announcement-box {
    background: rgba(18, 43, 66, 0.1);
    padding: 10px;
    margin: 20px;
    border-radius: 35px;
}

.icon-link {
    color: #c33427;
    margin: 5px;
}

/*----------------------------------------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(199, 198, 198);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c33427;
    border-radius: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Quicksand", sans-serif;
    font-size: 120%;
}

.nav_img {
    background-color: #ffffffaa;
}

.about-section {
    background-color: #c33427;
    border-radius: 170px 170px 0 0;
    margin-top: 60px;
    padding-bottom: 70px;
}

#icon_space {
    padding-right: 20px;
}

#icons {
    margin-left: 10px;
}

#bottom_margin {
    margin-bottom: 1em;
}

#top_margin_inverted {
    color: white;
}

#startup_culture {
    background: rgb(223, 72, 59);
}

.projects {
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
}

#box_curve_bottom {
    background-color: rgb(19, 8, 49);
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#box_curve_top {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.extra_bottom {
    background-color: #c33427;
    height: 30px;
}

#contact {
    margin-top: 2em;
    border-radius: 24px;
}

form input[type="submit"]:hover {
    background-color: rgb(223, 72, 59);
}
form input[type="submit"]:active {
    width: 6.5em;
}

#follow-us {
    margin-top: 5em;
}
.center-alingnment {
    width: 80%;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    .iedc_img {
        margin-top: 2em;
        background-repeat: no-repeat;
        max-width: auto;
    }
    #box_curve_bottom {
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
    #box_curve_top {
        border-top-left-radius: 10%;
        border-top-right-radius: 15%;
        padding-top: 40px;
    }
    #centre_mobile {
        text-align: left;
        margin-left: 30%;
    }
    .mobile_space {
        margin-bottom: 0px;
    }
    .margin_top_mobile {
        margin-top: 0em;
    }

    #contact {
        margin-top: 0;
        box-shadow: none;
    }
    #follow-us {
        padding-left: 0;
        margin-top: 0;
    }
    #icons {
        margin-left: -20px;
    }

    .about-section {
        border-radius: 100px 100px 0 0;
    }
}
