/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html {
  scroll-behavior: smooth;
}

.pos {
  align-self: start;
}

body {
  background-color: rgb(255, 255, 255);
  color:#C33427;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  min-height: 60vh;
}

.announcement-box {
  min-height: 50vh;
}

#message-box {
  min-height: 40px;
  border: 1px grey;
}

/*----------------------------------------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(138, 138, 138);
  border-radius: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

p{
  font-family: 'Quicksand', sans-serif;
}

.main_img{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.iedc_img{
  margin-top:5em;
  background-repeat:no-repeat;
  height:100%;
  width:100%;
}

#about_img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card_design{
  height: 50%;
}

.announcements_header{
  margin-top:1.5em;
}

#icon_space {
  padding: 10px;
  
}

#curve_border {
  border-radius: 20px;
}

#curve_border_top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#bottom_margin {
  margin-bottom: 1em;
}

#top_margin {
  margin-top: 2em;
}

#box_curve_bottom {
  background-color:rgb(19, 8, 49); /*rgb(159, 85, 85)*/
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#box_curve_top {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 20%;
  border-top-right-radius: 40%;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 0px;
  margin-bottom: 0;
}

.extra_bottom{
  background-color: #C33427;
  height:30px;
}

#announcements_card {
  width: 100%;
  border-radius: 20px;
}

#center_align {
  text-align: center;
}

.hidepic{
  display:show;
}

#contact{
  margin-top:4em;
  border-radius: 24px;
  margin-bottom: 2em;
}
#submit{
  padding-bottom:2em;
}

#follow-us{
  margin-top:5em;
  padding-left:9em;
}
.center-alingnment{
  width:7em;
}

@media only screen and (max-width: 600px) {
  .announcement_header{
    font-size:20px;
    margin-top:30px;
  }
  #box_curve_bottom {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }

  #box_curve_top {
    border-top-left-radius: 0%;
    border-top-right-radius: 15%;
    padding-top: 40px;
  }
  #centre_mobile {
    text-align: left;
  }
  .mobile_space {
    margin-bottom: 0px;
  }
  .margin_top_mobile {
    margin-top: 0em;
  }

  .pos {
    align-self: start;
  }
  #contact{
    margin-left:1em;
    margin-top: 0;
    box-shadow: none;
  }
  #follow-us{
    padding-left:0;
    margin-top:0;
  }
  .center-alingnment{
    width:11em;
  }

}
