.card-container{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.events{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}